@font-face {
    font-family: bolder_text;
    src: url("../../font/RaelaGrotesque-Black.ttf");
  }

$font-primary: "Inter", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Color Style */
$Neutral-color-white: #f1f1f1;
$Neutral-color-black: #141414;
$Secondary-color: #7b7a7a;

/* Reusable Button Styles */
$transition-speed: 0.6s;

@mixin button-style {
    border: 2px solid $Neutral-color-black;
    outline: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 140px;
    height: 50px;
    border-radius: none;
    overflow: hidden;
    color: $Neutral-color-black;

    div:nth-child(1) {
        background-color: $Neutral-color-white;
    }

    div:nth-child(2) {
        background-color: $Neutral-color-black;
    }
  
    div {
      transform: translateY(0px);
      width: 100%;
      transition: $transition-speed cubic-bezier(.16,1,.3,1);
    }
  
    div span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      padding: 0.75em 1.125em;
    }
  
    &:hover {
      color: $Neutral-color-white;
  
      div {
        transform: translateY(-50px);
      }
    }
  
    p {
      font-size: 17px;
      font-weight: bold;
    }
  
    &:active {
      transform: scale(0.95);
    }
}

@mixin sliding-hover-icon($text-color, $bg-color, $hover-text-color, $hover-bg-color, $height: 57px) {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: $height;
    overflow: hidden;
    color: $text-color;
  
    div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.3s cubic-bezier(.16,1,.3,1), opacity 0.3s cubic-bezier(.16,1,.3,1);
    }

    div:first-child {
        background-color: $bg-color;
        opacity: 1;
    }

    div:last-child {
        background-color: #242424;
        transform: translateY(100%);
        opacity: 1;
    }

    &:hover {
        color: $Neutral-color-white;

        div:first-child {
            transform: translateY(-100%);
            opacity: 0;
        }

        div:last-child {
            transform: translateY(0);
        }
    }

    p {
        font-size: 17px;
        font-weight: bold;
    }

    &:active {
        transform: scale(0.95);
    }
}

@mixin sliding-hover($text-color, $bg-color, $hover-text-color, $hover-bg-color, $height: 57px) {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: $height;
    overflow: hidden;
    color: $text-color;
  
    div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.3s cubic-bezier(.16,1,.3,1), opacity 0.3s cubic-bezier(.16,1,.3,1);
    }

    div:first-child {
        background-color: $bg-color;
        opacity: 1;
    }

    div:last-child {
        background-color: #242424;
        transform: translateY(100%);
        opacity: 1;
    }

    &:hover {
        color: $Neutral-color-white;

        div:first-child {
            transform: translateY(-100%);
            opacity: 0;
        }

        div:last-child {
            transform: translateY(0);
        }
    }

    p {
        font-size: 17px;
        font-weight: bold;
    }

    &:active {
        transform: scale(0.95);
    }
}


h1 {
    font-family: bolder_text;
    font-size: 4rem; // ~36px (assuming 1rem = 16px)
  }
  
  h2 {
    font-family: bolder_text;
    font-size: 2.875rem; // ~30px
  }
  
  h3 {
    font-family: $font-primary;
    font-size: 24px;
  }
  
  p {
    font-family: $font-primary;
    font-size: 17px;
    font-weight: bold;
  }  

body{

    #main_top_navbar_div_space {
        display: flex;
        width: 100vw;
        height: 60px;
        background-color: #F1F1F1;
        
        .nav_top_links {
            display: flex;
            // background-color: aqua;
            width: 100%;
            transform: none;
            transform-origin: 50% 50% 0px;
            border: 2px solid black;

            #top_left_space {
                display: flex;
                width: 60%;
                height: 100%;
                // background-color: gray;

                #top_left_logo_space {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                    height: 100%;
                    // background-color: greenyellow;

                }
                #top_left_offer_space {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                    height: 100%;
                    // background-color: rebeccapurple;
                }
            }

            #top_right_space {
                display: flex;
                width: 40%;
                height: 100%;
                // background-color: gray;

                .links_space_nav {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 132px;
                    height: 100%;
                    border-left: 2px solid black; // Apply only left border
                    @include sliding-hover($Neutral-color-black, $Neutral-color-white, $Neutral-color-black, $Neutral-color-black);
                }

                .shop {
                    // background-color: brown;
                }

                .about {
                    // background-color: aquamarine;
                }

                .journal {
                    // background-color: blueviolet;
                }

                .contact {
                    // background-color: chartreuse;
                }

                .small_links_space_nav {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 42px;
                    height: 100%;
                    border-left: 2px solid black; // Apply only left border
                    @include sliding-hover-icon($Neutral-color-black, $Neutral-color-white, $Neutral-color-black, $Neutral-color-black);
                }

                .search {
                    // background-color: brown;
                }

                .user {
                    // background-color: aquamarine;
                }

                .cart {
                    // background-color: blueviolet;
                }
            }
        }
    }

    #hero_section {
        display: flex;
        width: 100vw;
        height: 678px;
        padding: 20px;
        background-image: url('../../img/background_img_hero_blue_sofa.jpg'); /* Replace with your image path */
        background-size: cover; /* Ensures the image covers the entire div */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents image repetition */
        box-shadow: inset 0px -50px 50px rgba(0, 0, 0, 0.9); /* Dark shadow at the bottom */

        #main_hero_section_area_left {
            position: relative;
            width: 60%;
            height: 100%;
            

            .shop_now_top_hero_left {
                @include button-style;
            }

            #info_area_left {
                position: absolute;
                // background-color: yellow;
                color: white;
                bottom: 0;
                left: 0;

                #for_button_left {
                    margin-bottom: 10px;
                }

                #text_area_left {
                    margin-top: 10px;
                    
                    #heading_text_area_left {
                        h1 {
                            color: $Neutral-color-white;
                        }
                    }

                    #more_info_for_heading_left {
                        h3 {
                            color:$Secondary-color;
                        }
                    }
                }
            }
        }
        #main_hero_section_area_right {
            position: relative;
            display: flex;
            flex-direction: row;
            gap: 10px; /* Space between elements */
            align-items: flex-end; /* Moves children to the bottom */
            width: 40%;
            height: 100%;
            // background-color: violet;
        
            .img_right_area {
                flex: 1; /* Each item takes equal width */
                height: 120px;
            }
        
            .img_1 {
                opacity: 0.7;
                filter: brightness(70%);
                background-image: url('../../img/background_img_hero_blue_sofa.jpg'); /* Replace with your image path */
                background-size: cover; /* Ensures the image covers the entire div */
                background-position: center; /* Centers the image */
                background-repeat: no-repeat; /* Prevents image repetition */
            }
        
            .img_2 {
                background-image: url('../../img/background_img_hero_skyblue_sofa.jpg'); /* Replace with your image path */
                background-size: cover; /* Ensures the image covers the entire div */
                background-position: center; /* Centers the image */
                background-repeat: no-repeat; /* Prevents image repetition */
            }
        
            .img_3 {
                background-image: url('../../img/sofa-green-living-room-with-copy-space.jpg'); /* Replace with your image path */
                background-size: cover; /* Ensures the image covers the entire div */
                background-position: center; /* Centers the image */
                background-repeat: no-repeat; /* Prevents image repetition */
            }
        }        
    }
}