* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$Neutral-color-white: #f1f1f1;
$Neutral-color-black: #141414;
$Second-netural-color-black: #242424;
$Secondary-color: #7b7a7a;

$font-primary: "Inter", sans-serif;

$transition-speed: 0.6s;
