<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/css/admin_layout.css') }}">
        <link href="{{ url_for('static', filename='logo.ico') }}" rel="icon">

        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <nav id="nav_bar_admin">
            <div class="contact-area">
                <a class="{% if request.endpoint == 'admin_home' %}active{% endif %}" href="/admin_home">
                    <div class="links_space_nav">
                        <div><h5>Home</h5></div>
                        <div><h5>Home</h5></div>
                    </div> 
                </a>
            </div>

            <div class="contact-area">
                <a class="{% if request.endpoint == 'add_product_page' %}active{% endif %}" href="/add_product_page">
                    <div class="links_space_nav">
                        <div><h5>Add Product</h5></div>
                        <div><h5>Add Product</h5></div>
                    </div>
                </a>
            </div>

            <div class="contact-area">
                <a class="{% if request.endpoint == 'remove_product_page' %}active{% endif %}" href="/remove_product_page">
                    <div class="links_space_nav">
                        <div><h5>Remove Product</h5></div>
                        <div><h5>Remove Product</h5></div>
                    </div>
                </a>
            </div>

            <div class="contact-area">
                <a class="{% if request.endpoint == 'shop' %}active{% endif %}" href="/shop">
                    <div class="links_space_nav">
                        <div><h5>View Product</h5></div>
                        <div><h5>View Product</h5></div>
                    </div>
                </a>
            </div>

            <div class="contact-area">
                <a class="{% if request.endpoint == 'all_order' %}active{% endif %}" href="/all_order">
                    <div class="links_space_nav">
                        <div><h5>View All Order</h5></div>
                        <div><h5>View All Order</h5></div>
                    </div>
                </a>
            </div>

            <div class="contact-area">
                <a class="{% if request.endpoint == 'logout' %}active{% endif %}" href="/logout">
                    <div class="links_space_nav">
                        <div><h5>Logout</h5></div>
                        <div><h5>Logout</h5></div>
                    </div>
                </a>
            </div>
        </nav>

        <!--Main code for the website-->
        <main>
            {% block content %}
                <!-- Child templates will override this -->
            {% endblock %}
        </main>
        
        <!-- Allow additional JavaScript files from child templates -->
        {% block extra_js %}{% endblock %}
    </body>
</html>