{% extends 'layout.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/shop_page.css') }}">
{% endblock %}

{% block content %}
    <div class="top_category_heading">
        <h1>ALL</h1>
    </div>

    <div class="second_top_category_small_heading">

        <div class="heading_category">
            <h5 style="color: #141414;">ALL</h5>
        </div>

        <div class="heading_category">
            <h5>BEDS</h5>
        </div>

        <div class="heading_category">
            <h5>HOME-DECOR</h5>
        </div>

        <div class="heading_category">
            <h5>DINING-SET</h5>
        </div>

        <div class="heading_category">
            <h5>SOFAS</h5>
        </div>
    </div>

    <div class="product_selection_box">

        <!-- Sofas -->
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/sofas/Helios_California/front.jpg') }}" alt="My Image">
            </div>

            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>sofa</h4>
                    <p>Helios California Fabric 2-Seater</p>
                    <P class="price">$ 1,109</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/sofas/Helios_Hummingbird/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Sofa</h4>
                    <p>Helios Hummingbird Velvet</p>
                    <P class="price">$ 1,209</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/sofas/Mojo_NXT/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Sofa</h4>
                    <p>Mojo NXT Fabric 3+2 Seater</p>
                    <P class="price">$ 1,350</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/sofas/Winchester_NXT/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Sofa</h4>
                    <p>Winchester NXT Half Leather</p>
                    <P class="price">$ 2,209</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <!-- Beds -->
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Alton_Queen_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Alton Queen Bed</p>
                    <P class="price">$ 520</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Bravo_Aden_Queen_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Bravo Aden Queen Bed</p>
                    <P class="price">$ 920</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Bravo_Roxy_King_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Bravo Roxy King Bed</p>
                    <P class="price">$ 820</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Rubix_Sheesham_Wood_King_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Rubix Sheesham Wood King Bed</p>
                    <P class="price">$ 1020</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <!-- Home-Decor -->
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Buddha_Figurine_with_T-Light_Holder/front.jpg') }}" alt="My Image">
            </div>

            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Figurine</h4>
                    <p>Buddha Figurine with T-Light Holder</p>
                    <P class="price">$ 50</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Ceramic_Pebble_Table_Lamp/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Lamp</h4>
                    <p>Ceramic Pebble Table Lamp</p>
                    <P class="price">$ 120</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Reading_Ganesha_Figurine/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Figurine</h4>
                    <p>Reading ganesha Figurine</p>
                    <P class="price">$ 60</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Roger_Polyresin_Sun_Table_Accent/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Table Accent</h4>
                    <p>Roger Polyresin Sun Table Accent</p>
                    <P class="price">$ 89</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <!-- Beds -->
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Savanna_Queen_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Savanna Queen Bed</p>
                    <P class="price">$ 540</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Tiffany_Caramel_King_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Tiffany Caramel King Bed</p>
                    <P class="price">$ 690</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
        
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Reynan/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Reynan</p>
                    <P class="price">$ 780</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <!-- Home-Decor -->
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Tokyo_Iron_Floor_Lamp/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Lamp</h4>
                    <p>Tokyo Iron Floor Lamp</p>
                    <P class="price">$ 140</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Artistry_Canvas_Lady_Picture_Frame/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Picture</h4>
                    <p>Artistry Canvas Lady Frame</p>
                    <P class="price">$ 90</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Austin_Glass_Crackled_Vase/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Vase</h4>
                    <p>Austin Glass Crackled Vase</p>
                    <P class="price">$ 119</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Eternity_Viva_Glass_Vase/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Vase</h4>
                    <p>Eternity Viva Glass Vase</p>
                    <P class="price">$ 780</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <!-- Dining-Set -->
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Dining Set/Dale_Ceramic/front.jpg') }}" alt="My Image">
            </div>
    
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Dining Set</h4>
                    <p>Dale Ceramic Top 6-Seater</p>
                    <P class="price">$  1,100</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
    
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Dining Set/Fern_Living/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Dining Set</h4>
                    <p>Fern Living Quartz Top 6-Seater</p>
                    <P class="price">$ 1,220</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
    
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Dining Set/Helios_Paul/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Dining Set</h4>
                    <p>Helios Paul 6-Seater</p>
                    <P class="price">$ 1,000</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
    
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Dining Set/Marcello_Glass/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Dining Set</h4>
                    <p>Marcello Glass 6-Seater</p>
                    <P class="price">$ 1,019</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <!-- Home-Decor -->
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Panorama_Ather_Metal_Wall_Mirror/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Mirror</h4>
                    <p>Panorama Ather Metal Wall Mirror</p>
                    <P class="price">$ 125</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Tuba_Metal_Deer_Table_Accent/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Table Accent</h4>
                    <p>Tuba Metral Deer Table Accent</p>
                    <P class="price">$ 80</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <!-- Dining-Set -->
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Dining Set/Regent_Ceramic/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Dining Set</h4>
                    <p>Regent Ceramic</p>
                    <P class="price">$ 1,240</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Dining Set/Vegas_Faux/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Dining Set</h4>
                    <p>Vegas Faux 6-Seater</p>
                    <P class="price">$ 1,090</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}