<!DOCTYPE html>
<html lang="en">
    <head>
        <title>apology_page</title>
    </head>
    <body>
        <!-- https://memegen.link/ -->
        <!-- https://knowyourmeme.com/memes/grumpy-cat -->
        <div style="text-align: center;" class="apology-cat-img-error">
            <img alt="{{ top }}" class="border img-fluid" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">
        </div>
    </body>
</html>