{% extends 'layout.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/contact.css') }}">
{% endblock %}

{% block content %}
    <div id="contact_heading">
        <h1>CONTACT</h1>
        <h1>CONTACT</h1>
        <h1>CONTACT</h1>
        <h1>CONTACT</h1>
        <h1>CONTACT</h1>
    </div>
    <div id="next_contact_heading_topic_info">
        <div id="reach_us_heading">
            <h1 style="font-size: 3rem;">WAYS TO REACH US</h1>
        </div>
        <div id="contact_us_heading">
            <h1 style="font-size: 3rem;">GET IN TOUCHS</h1>
        </div>
    </div>
    <div id="main_contact_matrial_box">
        <div id="left_main_contact_matrial_box">
            <div id="get_in_touch_links">

            </div>
            <div id="faq_area_links">

            </div>
        </div>
        <div id="right_main_contact_matrial_box">
            <div id="main_form_contact_matrial">
                
            </div>
        </div>
    </div>
{% endblock %}