{% extends 'layout.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/contact.css') }}">
{% endblock %}

{% block content %}
    <div id="contact_heading">
        <h1>CONTACT</h1>
        <h1>CONTACT</h1>
        <h1>CONTACT</h1>
        <h1>CONTACT</h1>
        <h1>CONTACT</h1>
    </div>

    <div id="next_contact_heading_topic_info">
        <div id="reach_us_heading">
            <h1 style="font-size: 3rem;">WAYS TO REACH US</h1>
        </div>
        <div id="contact_us_heading">
            <h1 style="font-size: 3rem;">GET IN TOUCH</h1>
        </div>
    </div>

    <div id="main_contact_matrial_box">
        <div id="left_main_contact_matrial_box">
            <div id="get_in_touch_links">
                <div id="section_1">
                    <div class="set">
                        <h3>EMAIL</h3>
                        <h3 style="color: #454444; font-size: 20px;"><u>Furniture_Shop@gmail.com</u></h3>
                    </div>
                    <div class="set">
                        <h3>PHONE</h3>
                        <h3 style="color: #454444; font-size: 20px;">(+91) 921010****</h3>
                    </div>
                    <div class="set">
                        <h3>HEAD OFFICE</h3>
                        <h3 style="color: #454444; font-size: 20px;">INDIA, NEW DELHI</h3>
                    </div>
                </div>
                <div id="section_2">
                    <h3>SOCIALS</h3>
                    <a class="arrow_button_for_links">INSTAGRAM <i class="fa-solid fa-arrow-up"></i></a>
                    <br>
                    <a class="arrow_button_for_links">X / TWITTER <i class="fa-solid fa-arrow-up"></i></a>
                    <br>
                    <a class="arrow_button_for_links">YOUTUBE <i class="fa-solid fa-arrow-up"></i></a>
                    <br>
                    <a class="arrow_button_for_links">FACEBOOK <i class="fa-solid fa-arrow-up"></i></a>
                </div>
            </div>
            <div id="faq_area_links">
                <h5>FAQ</h5>
                <div id="box_for_faq">
                    <div class="question_area">
                        <div class="text_area">
                            <p>Shipping & Delivery</p>
                        </div>
                        <div class="plus_icon">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                    
                    <div class="question_area">
                        <div class="text_area">
                            <p>Product Information</p>
                        </div>
                        <div class="plus_icon">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                    <div class="question_area">
                        <div class="text_area">
                            <p>Returns & Exchanges</p>
                        </div>
                        <div class="plus_icon">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                    <div class="question_area">
                        <div class="text_area">
                            <p>Warranty & Support</p>
                        </div>
                        <div class="plus_icon">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right_main_contact_matrial_box">
            <div id="main_form_contact_matrial">
                <div id="top_area_input">
                    <input type="text" placeholder="Subject*" name="subjcet">
                </div>
                <div id="second_top_area">
                    <div class="input_area one">
                        <input type="text" placeholder="First Name*" name="first_name">
                    </div>
                    <div class="input_area two">
                        <input type="text" placeholder="Last Name*" name="last_name">
                    </div>
                </div>
                <div id="third_area">
                    <div class="input_area_third one">
                        <input type="text" placeholder="Email*" name="email">
                    </div>
                    <div class="input_area_third two">
                        <input type="text" placeholder="Phone Number*" name="phone number">
                    </div>
                    <div class="input_area_third three">
                        <input type="text" placeholder="Order Number*" name="order number">
                    </div>
                </div>
                <div id="final_area_input_message">
                    <textarea placeholder="Type your message here..."></textarea>>
                </div>
                <div id="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SUBMIT</p></span></div>
                        <div><span><p>SUBMIT</p></span></div>
                    </button>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}