{% extends 'layout.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/shop_page.css') }}">
{% endblock %}

{% block content %}
<div class="top_category_heading">
    <h1>DINING-SET</h1>
</div>

<div class="second_top_category_small_heading">

    <div class="heading_category">
        <h5>ALL</h5>
    </div>

    <div class="heading_category">
        <h5>BEDS</h5>
    </div>

    <div class="heading_category">
        <h5>HOME-DECOR</h5>
    </div>

    <div class="heading_category">
        <h5 style="color: #141414;">DINING-SET</h5>
    </div>

    <div class="heading_category">
        <h5>SOFAS</h5>
    </div>
</div>

<div class="product_selection_box">
    <div class="product_card_box">
        <div class="img_product_card_box">
            <img src="{{ url_for('static', filename='img/Dining Set/Dale_Ceramic/front.jpg') }}" alt="My Image">
        </div>

        <div class="text_product_card_box">
            <div class="text_area">
                <h4>Dining Set</h4>
                <p>Dale Ceramic Top 6-Seater</p>
                <P class="price">$  1,100</P>
            </div>
            <div class="button_area">
                <button class="shop_now_top_hero_left">
                    <div><span><p>SHOP NOW</p></span></div>
                    <div><span><p>SHOP NOW</p></span></div>
                </button> 
            </div>
        </div>
    </div>

    <div class="product_card_box">
        <div class="img_product_card_box">
            <img src="{{ url_for('static', filename='img/Dining Set/Fern_Living/front.jpg') }}" alt="My Image">
        </div>
        <div class="text_product_card_box">
            <div class="text_area">
                <h4>Dining Set</h4>
                <p>Fern Living Quartz Top 6-Seater</p>
                <P class="price">$ 1,220</P>
            </div>
            <div class="button_area">
                <button class="shop_now_top_hero_left">
                    <div><span><p>SHOP NOW</p></span></div>
                    <div><span><p>SHOP NOW</p></span></div>
                </button> 
            </div>
        </div>
    </div>

    <div class="product_card_box">
        <div class="img_product_card_box">
            <img src="{{ url_for('static', filename='img/Dining Set/Helios_Paul/front.jpg') }}" alt="My Image">
        </div>
        <div class="text_product_card_box">
            <div class="text_area">
                <h4>Dining Set</h4>
                <p>Helios Paul 6-Seater</p>
                <P class="price">$ 1,000</P>
            </div>
            <div class="button_area">
                <button class="shop_now_top_hero_left">
                    <div><span><p>SHOP NOW</p></span></div>
                    <div><span><p>SHOP NOW</p></span></div>
                </button> 
            </div>
        </div>
    </div>

    <div class="product_card_box">
        <div class="img_product_card_box">
            <img src="{{ url_for('static', filename='img/Dining Set/Marcello_Glass/front.jpg') }}" alt="My Image">
        </div>
        <div class="text_product_card_box">
            <div class="text_area">
                <h4>Dining Set</h4>
                <p>Marcello Glass 6-Seater</p>
                <P class="price">$ 1,019</P>
            </div>
            <div class="button_area">
                <button class="shop_now_top_hero_left">
                    <div><span><p>SHOP NOW</p></span></div>
                    <div><span><p>SHOP NOW</p></span></div>
                </button> 
            </div>
        </div>
    </div>

    <div class="product_card_box">
        <div class="img_product_card_box">
            <img src="{{ url_for('static', filename='img/Dining Set/Regent_Ceramic/front.jpg') }}" alt="My Image">
        </div>
        <div class="text_product_card_box">
            <div class="text_area">
                <h4>Dining Set</h4>
                <p>Regent Ceramic</p>
                <P class="price">$ 1,240</P>
            </div>
            <div class="button_area">
                <button class="shop_now_top_hero_left">
                    <div><span><p>SHOP NOW</p></span></div>
                    <div><span><p>SHOP NOW</p></span></div>
                </button> 
            </div>
        </div>
    </div>

    <div class="product_card_box">
        <div class="img_product_card_box">
            <img src="{{ url_for('static', filename='img/Dining Set/Vegas_Faux/front.jpg') }}" alt="My Image">
        </div>
        <div class="text_product_card_box">
            <div class="text_area">
                <h4>Dining Set</h4>
                <p>Vegas Faux 6-Seater</p>
                <P class="price">$ 1,090</P>
            </div>
            <div class="button_area">
                <button class="shop_now_top_hero_left">
                    <div><span><p>SHOP NOW</p></span></div>
                    <div><span><p>SHOP NOW</p></span></div>
                </button> 
            </div>
        </div>
    </div>
</div>
{% endblock %}