<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>e-commerce/forget_password_page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/css/main.css') }}">
    </head>
    <body>
        <div id="background">
            <form action="">
                <div id="box">
                    <!-- Forgot Password Logo -->
                    <div id="reset_password_logo">
                        <img src="{{ url_for('static', filename='img/forgot_password_logo.png') }}" alt="reset_password_logo">
                    </div>
                    <!-- Step 1: Enter Username -->
                    <div id="step1">
                        <div id="signin_signup_text">
                            <h1>Forgot password?</h1>
                        </div>
                        <div id="forgot_password_text">
                            <span>Please provide your username so we can verify your account and help you reset your password securely.</span>
                        </div>
    
                        <div class="signin_signup_input_box">
                            <div id="username">
                                <input type="text" id="username_input_box" autocomplete="new-password" placeholder=" " class="form_input">
                                <label for="username_input_box">Username</label>
                            </div>
                        </div>
                        <div id="next_button">
                            <button type="button" class="button-next-pushable" role="button" onclick="showStep2()">
                                <span class="button-next-shadow"></span>
                                <span class="button-next-edge"></span>
                                <span class="button-next-front text">Next</span>
                            </button>
                        </div>
                    </div>
    
                    <!-- Step 2: Enter New Password (Hidden by Default) -->
                    <div id="step2">
    
                        <div id="signin_signup_text">
                            <h1>Reset Your Password</h1>
                        </div>
    
                        <div id="forgot_password_text">
                            <span>Please enter a new password and confirm it to complete the reset process.</span>
                        </div>
    
                        <div class="signin_signup_input_box">
                            <div id="password">
                                <input type="password" id="new_password_input_box" autocomplete="new-password" placeholder=" " class="form_input">
                                <label for="new_password_input_box">New Password</label>
                            </div>
                            <div id="confirm_password">
                                <input type="password" id="confirm_password_input_box" autocomplete="new-password" placeholder=" " class="form_input">
                                <label for="confirm_password_input_box">Confirm Password</label>
                            </div>
                        </div>
                        <div id="reset_password_button">
                            <button type="submit" class="button-reset-pushable">
                                <span class="button-reset-shadow"></span>
                                <span class="button-reset-edge"></span>
                                <span class="button-reset-front text">Reset Password</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>
    </body>
</html>