{% extends 'layout.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/shop_page.css') }}">
{% endblock %}

{% block content %}
    <div class="top_category_heading">
        <h1>HOME-DECOR</h1>
    </div>

    <div class="second_top_category_small_heading">

        <div class="heading_category">
            <a class="{% if request.endpoint == 'all' %}active{% endif %}" href="/all">
                <h5>ALL</h5>
            </a>
        </div>

        <div class="heading_category">
            <a class="{% if request.endpoint == 'beds' %}active{% endif %}" href="/beds">
                <h5>BEDS</h5>
            </a>
        </div>

        <div class="heading_category">
            <a class="{% if request.endpoint == 'home_decor' %}active{% endif %}" href="/home_decor">
                <h5 style="color: #141414;">HOME-DECOR</h5>
            </a>
        </div>

        <div class="heading_category">
            <a class="{% if request.endpoint == 'dining_set' %}active{% endif %}" href="/dining_set">
                <h5>DINING-SET</h5>
            </a>
        </div>

        <div class="heading_category">
            <a class="{% if request.endpoint == 'sofas' %}active{% endif %}" href="/sofas">
                <h5>SOFAS</h5>
            </a>
        </div>
    </div>

    <div class="product_selection_box">
        <a href="{{ url_for('product_page', product_id=3) }}">
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Buddha_Figurine_with_T-Light_Holder/front.jpg') }}" alt="My Image">
            </div>

            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Figurine</h4>
                    <p>Buddha Figurine with T-Light Holder</p>
                    <P class="price">$ 50</P>
                </div>
                <div class="button_area">
                    <form action="/add_to_cart" method="post">
                        <button class="shop_now_top_hero_left" value="3">
                            <div><span><p>SHOP NOW</p></span></div>
                            <div><span><p>SHOP NOW</p></span></div>
                        </button> 
                    </form>
                </div>
            </div>
        </div>
        </a>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Ceramic_Pebble_Table_Lamp/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Lamp</h4>
                    <p>Ceramic Pebble Table Lamp</p>
                    <P class="price">$ 120</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <a href="{{ url_for('product_page', product_id=4) }}">
            <div class="product_card_box">
                <div class="img_product_card_box">
                    <img src="{{ url_for('static', filename='img/home_decor/Reading_Ganesha_Figurine/front.jpg') }}" alt="My Image">
                </div>
                <div class="text_product_card_box">
                    <div class="text_area">
                        <h4>Figurine</h4>
                        <p>Reading ganesha Figurine</p>
                        <P class="price">$ 60</P>
                    </div>
                    <div class="button_area">
                        <form action="/add_to_cart" method="post">
                            <button class="shop_now_top_hero_left" value="4">
                                <div><span><p>SHOP NOW</p></span></div>
                                <div><span><p>SHOP NOW</p></span></div>
                            </button> 
                        </form>
                    </div>
                </div>
            </div>
        </a>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Roger_Polyresin_Sun_Table_Accent/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Table Accent</h4>
                    <p>Roger Polyresin Sun Table Accent</p>
                    <P class="price">$ 89</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Tokyo_Iron_Floor_Lamp/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Lamp</h4>
                    <p>Tokyo Iron Floor Lamp</p>
                    <P class="price">$ 140</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Artistry_Canvas_Lady_Picture_Frame/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Picture</h4>
                    <p>Artistry Canvas Lady Frame</p>
                    <P class="price">$ 90</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Austin_Glass_Crackled_Vase/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Vase</h4>
                    <p>Austin Glass Crackled Vase</p>
                    <P class="price">$ 119</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Eternity_Viva_Glass_Vase/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Vase</h4>
                    <p>Eternity Viva Glass Vase</p>
                    <P class="price">$ 780</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Panorama_Ather_Metal_Wall_Mirror/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Mirror</h4>
                    <p>Panorama Ather Metal Wall Mirror</p>
                    <P class="price">$ 125</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/home_decor/Tuba_Metal_Deer_Table_Accent/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Table Accent</h4>
                    <p>Tuba Metral Deer Table Accent</p>
                    <P class="price">$ 80</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}