{% extends 'layout.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/shop_page.css') }}">
{% endblock %}

{% block content %}
    <div class="top_category_heading">
        <h1>BEDS</h1>
    </div>

    <div class="second_top_category_small_heading">

        <div class="heading_category">
            <h5>ALL</h5>
        </div>

        <div class="heading_category">
            <h5 style="color: #141414;">BEDS</h5>
        </div>

        <div class="heading_category">
            <h5>HOME-DECOR</h5>
        </div>

        <div class="heading_category">
            <h5>DINING-SET</h5>
        </div>

        <div class="heading_category">
            <h5>SOFAS</h5>
        </div>
    </div>
{% endblock %}