{% extends 'layout.html' %}

{% block title %}Furniture_Shop/home_page{% endblock %}
        
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='style/css/main.css') }}" media="print" onload="this.media='all'">{% endblock %}


    {% block content %}
        <div id="hero_section">
            <div id="main_hero_section_area_left">
                <div id="info_area_left">
                    <div id="for_button_left">
                        <!-- From Uiverse.io by Sergestra --> 
                        <button class="shop_now_top_hero_left">
                            <div><span><p>SHOP NOW</p></span></div>
                            <div><span><p>SHOP NOW</p></span></div>
                        </button>                        
                    </div>
                    <div id="text_area_left">
                        <div id="heading_text_area_left">
                            <h1>CRAFTED FOR COMFORT</h1>
                        </div>
                        <div id="more_info_for_heading_left">
                            <h3>EXPERIENCE UNMATCHED QUALITY, DESIGNED FOR EVERY SPACE</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main_hero_section_area_right">
                <div class="img_right_area img_1">
                </div>
                <div class="img_right_area img_2">
                </div>
                <div class="img_right_area img_3">
                </div>
            </div>
        </div>

        <div class="product_featuring_area">
            <div class="product_left_featuring_area_New_Arrivals">
                <div class="product_left_featuring_area_New_Arrivals_box">
                    <div class="button_product_left_featuring_area_New_Arrivals_box">
                        <a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a>
                    </div>
                    <div class="text_product_left_featuring_area_New_Arrivals_box">
                        <h1>NEW ARRIVALS</h1>
                    </div>
                </div>
            </div>
            <div class="product_right_featuring_area">
                <div class="product_card">
                    <div class="img_area_product_card">
                        <img src="{{ url_for('static', filename='img/sofas/Helios_California/front.jpg') }}" alt="My Image">
                    </div>
                    <div class="text_area_product_card">
                        <div class="text_info_product_card">
                            <h4>Sofa</h4>
                            <p>Helios California Fabric 2-Seater</p>
                            <p class="price">$ 1,109</p>
                        </div>
                        <div class="button_info_product_card">
                            <button class="shop_now_top_hero_left">
                                <div><span><p>SHOP NOW</p></span></div>
                                <div><span><p>SHOP NOW</p></span></div>
                            </button> 
                        </div>
                    </div>
                </div>
                <div class="product_card">
                    <div class="img_area_product_card">
                        <img src="{{ url_for('static', filename='img/sofas/Helios_Hummingbird/front.jpg') }}" alt="My Image">
                    </div>
                    <div class="text_area_product_card">
                        <div class="text_info_product_card">
                            <h4>Sofa</h4>
                            <p>Helios Hummingbird Velvet</p>
                            <p class="price">$ 1,209</p>
                        </div>
                        <div class="button_info_product_card">
                            <button class="shop_now_top_hero_left">
                                <div><span><p>SHOP NOW</p></span></div>
                                <div><span><p>SHOP NOW</p></span></div>
                            </button> 
                        </div>
                    </div>
                </div>
                <div class="product_card">
                    <div class="img_area_product_card">
                        <img src="{{ url_for('static', filename='img/sofas/Mojo_NXT/front.jpg') }}" alt="My Image">
                    </div>
                    <div class="text_area_product_card">
                        <div class="text_info_product_card">
                            <h4>Sofa</h4>
                            <p>Mojo NXT Fabric 3+2 Seater</p>
                            <p class="price">$ 1,350</p>
                        </div>
                        <div class="button_info_product_card">
                            <button class="shop_now_top_hero_left">
                                <div><span><p>SHOP NOW</p></span></div>
                                <div><span><p>SHOP NOW</p></span></div>
                            </button> 
                        </div>
                    </div>
                </div>
                <div class="product_card">
                    <div class="img_area_product_card">
                        <img src="{{ url_for('static', filename='img/sofas/Winchester_NXT/front.jpg') }}" alt="My Image">
                    </div>
                    <div class="text_area_product_card">
                        <div class="text_info_product_card">
                            <h4>Sofa</h4>
                            <p>Winchester NXT Half Leather</p>
                            <p class="price">$ 2,209</p>
                        </div>
                        <div class="button_info_product_card">
                            <button class="shop_now_top_hero_left">
                                <div><span><p>SHOP NOW</p></span></div>
                                <div><span><p>SHOP NOW</p></span></div>
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product_featuring_area_second">
            <div class="product_left_featuring_area">
                <div class="product_card">
                    <div class="img_area_product_card">
                        <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Reynan/front.jpg') }}" alt="My Image">
                    </div>
                    <div class="text_area_product_card">
                        <div class="text_info_product_card">
                            <h4>Bed</h4>
                            <p>Helios Reynan Frost King Bed</p>
                            <P class="price">$ 920</P>
                        </div>
                        <div class="button_info_product_card">
                            <button class="shop_now_top_hero_left">
                                <div><span><p>SHOP NOW</p></span></div>
                                <div><span><p>SHOP NOW</p></span></div>
                            </button> 
                        </div>
                    </div>
                </div>
                <div class="product_card">
                    <div class="img_area_product_card">
                        <img src="{{ url_for('static', filename='img/Bedroom/furniture/Wardrobe/Helios_Reynan/front.jpg') }}" alt="My Image">
                    </div>
                    <div class="text_area_product_card">
                        <div class="text_info_product_card">
                            <h4>Wardrobe</h4>
                            <p>Helios Reynan 4-Door Wardrobe</p>
                            <p class="price">$ 780</p>
                        </div>
                        <div class="button_info_product_card">
                            <button class="shop_now_top_hero_left">
                                <div><span><p>SHOP NOW</p></span></div>
                                <div><span><p>SHOP NOW</p></span></div>
                            </button> 
                        </div>
                    </div>
                </div>
                <div class="product_card">
                    <div class="img_area_product_card">
                        <img src="{{ url_for('static', filename='img/Dining Set/Dale_Ceramic/front.jpg') }}" alt="My Image">
                    </div>
                    <div class="text_area_product_card">
                        <div class="text_info_product_card">
                            <h4>Dining Set</h4>
                            <p>Dale Ceramic Top 6-Seater</p>
                            <p class="price">$ 1,100</p>
                        </div>
                        <div class="button_info_product_card">
                            <button class="shop_now_top_hero_left">
                                <div><span><p>SHOP NOW</p></span></div>
                                <div><span><p>SHOP NOW</p></span></div>
                            </button> 
                        </div>
                    </div>
                </div>
                <div class="product_card">
                    <div class="img_area_product_card">
                        <img src="{{ url_for('static', filename='img/Dining Set/Fern_Living/front.jpg') }}" alt="My Image">
                    </div>
                    <div class="text_area_product_card">
                        <div class="text_info_product_card">
                            <h4>Dining Set</h4>
                            <p>Fern Living Quartz Top 6-Seater</p>
                            <p class="price">$ 1,209</p>
                        </div>
                        <div class="button_info_product_card">
                            <button class="shop_now_top_hero_left">
                                <div><span><p>SHOP NOW</p></span></div>
                                <div><span><p>SHOP NOW</p></span></div>
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_right_featuring_area_New_Arrivals_second">
                <div class="product_right_featuring_area_New_Arrivals_box_second">
                    <div class="button_product_left_featuring_area_New_Arrivals_box">
                        <a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a>
                    </div>
                    <div class="text_product_left_featuring_area_New_Arrivals_box">
                        <h1>NEW ARRIVALS</h1>
                    </div>
                </div>
            </div>
        </div>

        <div id="product_category_scroll">
            <div class="product_category img1">
                <div class="product_category_text">
                    <h1 style="font-size: 50px;">Dining Set</h1>
                </div>
            </div>
            <div class="product_category img2">
                <div class="product_category_text">
                    <h1 style="font-size: 50px;">Beds</h1>
                </div>
            </div>
            <div class="product_category img3">
                <div class="product_category_text">
                    <h1 style="font-size: 50px;">Home Decor</h1>
                </div>
            </div>
            <div class="product_category img4">
                <div class="product_category_text">
                    <h1 style="font-size: 50px;">Sofas</h1>
                </div>
            </div>
        </div>

        <div id="form_journal_explain_area">
            <div id="main_line">
                <div id="main_line_h1">
                    <h1>FROM THE JOURNAL</h1>
                </div>
                <div id="more_info_for_main_line">
                    <h3>Discover the art of design and the thoughtfulness behind everyday essentials. 
                        Explore our approach to craftsmanship, where form meets function in perfect harmony.</h3>
                </div>
            </div>
            <div id="explore_more_button">
                <div id="button_link">
                    <p><a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a></p>
                </div>
            </div>
        </div>

        <div id="form_img_info">
            <div id="rigth_img_area_journal">

            </div>
            <div id="rigth_info_area_journal">
                <div id="box_info_area">
                    <div id="box_info_area_heading">
                        <h1 style="font-size: 50px;">The Evolution of Furniture Design</h1>
                    </div>
                    <div id="box_info_area_more_detail">
                        <p>The world of furniture has transformed over centuries.
                             What was once purely functional has now become a seamless blend of aesthetics and innovation.
                              From handcrafted wooden pieces to smart, ergonomic designs, this evolution reflects our desire for both comfort and style.</p>
                    </div>
                    <div id="box_info_area_button">
                        <a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="last_befor_footer_nav_links">
            <div class="product_card_bottom">
                <div class="product_card_bottom_img img1">

                </div>
                <div class="product_card_bottom_info">
                    <div class="text_product_card_bottom_info">
                        <h5>Crafting the Future of Home Living</h5>
                    </div>
                    <div class="button_product_card_bottom_info">
                        <a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a>
                    </div>
                </div>
            </div>

            <div class="product_card_bottom">
                <div class="product_card_bottom_img img2">
                    
                </div>
                <div class="product_card_bottom_info">
                    <div class="text_product_card_bottom_info">
                        <h5>From Tradition to Modernity</h5>
                    </div> 
                    <div class="button_product_card_bottom_info">
                        <a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a>
                    </div>               
                </div>
            </div>

            <div class="product_card_bottom">
                <div class="product_card_bottom_img img3">
                    
                </div>
                <div class="product_card_bottom_info">
                    <div class="text_product_card_bottom_info">
                        <h5>Innovation Meets Comfort</h5>
                    </div>
                    <div class="button_product_card_bottom_info">
                        <a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a>
                    </div>                    
                </div>
            </div>
        </div>

        {% endblock %}

        {% block extra_js %}
            <script src="{{ url_for('static', filename='js/Scroll_Effect.js') }}"></script>
            <script src="{{ url_for('static', filename='js/Scroll_Effect_Second.js') }}"></script>
        {% endblock %}
        
        