<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/css/layout.css') }}">

        <!-- Allow additional CSS files from child templates -->
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <!-- Nav bar for the website -->
        <div id="main_top_navbar_div_space">
            <nav class="nav_top_links">
                <div id="top_left_space">
                    <div id="top_left_logo_space">
                        <p>E-Com</p>
                    </div>
                    <div id="top_left_offer_space">
                        <P>20% off with purchases of $200 or more</P>
                    </div>
                </div>
                <div id="top_right_space">
                    <div class="links_space_nav">
                        <div><p>SHOP</p></div>
                        <div><p>SHOP</p></div>
                    </div>
                    <div class="links_space_nav">
                        <div><p>ABOUT</p></div>
                        <div><p>ABOUT</p></div>
                    </div>
                    <div class="links_space_nav">
                        <div><p>JOURNAL</p></div>
                        <div><p>JOURNAL</p></div>
                    </div>
                    <div class="links_space_nav">
                        <div><p>CONTACT</p></div>
                        <div><p>CONTACT</p></div>
                    </div>
                    <div class="small_links_space_nav">
                        <div><p><i class="fa-solid fa-magnifying-glass"></i></p></div>
                    </div>
                    <div class="small_links_space_nav">
                        <div><p><i class="fa-regular fa-user"></i></p></div>
                    </div>
                    <div class="small_links_space_nav">
                        <div><p><i class="fa-solid fa-cart-shopping"></i></p></div>
                    </div>
                </div>                
            </nav>
        </div>

        <!--Main code for the website-->
        <main>
            {% block content %}
                <!-- Child templates will override this -->
            {% endblock %}
        </main>

        <!--Footer for the website-->
        <footer>
            <div class="footer-content">
                <div class="col-1">
                    <h1 class="logo">Shoe_Shark</h1>
                    <p>Stay In The Loop And Never Miss An Update From
                    Us! Subscribe To Our Newsletter And Be the First
                    To Receive The Latest News, Exclusive Offers,
                    Insightful Articles, And Much More.</P>
                </div>
                <div class="col-2">
                    <ul>
                        <li>Facebook</li>
                        <li>Google</li>
                        <li>Instagram</li>
                        <li>Github</li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="sub-btn">
                        <h1>Subscribe Us <i class="fa-solid fa-circle-arrow-up"></i></h1>
                        
                    </div>
                </div>
                <div class="col-4">
                    <div class="section-type">
                        <h4>Shop</h4>
                        <ul>
                            <li>Men</li>
                            <li>Women</li>
                            <li>Kids</li>
                            <li>Sale</li>
                        </ul>
                    </div>
                    <div class="section-type">
                        <h4>Company</h4>
                        <ul>
                            <li>About</li>
                            <li>FAQ</li>
                            <li>Colaboration</li>
                            <li>Contact</li>
                        </ul>
                    </div>
                    <div class="section-type">
                        <h4>Legal</h4>
                        <ul>
                            <li>Shipping Policy</li>
                            <li>Returns & Exchanges</li>
                            <li>Term of Use</li>
                            <li>Support</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Shoe_Shark. All rights reserved.</p>
            </div>
        </footer>

        <!-- Allow additional JavaScript files from child templates -->
        {% block extra_js %}{% endblock %}
    </body>
</html>