<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>e-commerce/SignIn_page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/css/main.css') }}">
    </head>
    <body>
        <img src="{{ url_for('static', filename='img/full_body_statue_looking_left.png') }}" alt="Greek_statue" class="side-image left">
        <img src="{{ url_for('static', filename='img/full_body_statue.png') }}" alt="Greek_statue" class="side-image right">

        <img src="{{ url_for('static', filename='img/plant_for_bottom_left.png')}}" alt="plant_img" class="side_ontop_image bottom-left">
        <img src="{{ url_for('static', filename='img/plant_for_top_right.png')}}" alt="plant_img" class="side_ontop_image top-right">
        <div id="background">
            <form action="">
                <div id="box">
                    <div id="signin_signup_text">
                        <h1>Login</h1>
                    </div>
                    <div id="signin_signup_input_box">
                        <div id="username">
                            <input type="text" id="username_input_box" autocomplete="new-password"placeholder=" " class="form_input">
                            <label for="username_input_box">Username</label>
                        </div>
                        <div id="password">
                            <input type="password" id="password_input_box" autocomplete="new-password" placeholder=" " class="form_input">
                            <label for="password_input_box">Password</label>
                        </div>
                    </div>
                    <div id="button">
                        <button class="button-signin-pushable" role="button">
                            <span class="button-signin-shadow"></span>
                            <span class="button-signin-edge"></span>
                            <span class="button-signin-front text">
                              Login
                            </span>
                          </button>
                    </div>
                    <div id="forget_text_change_password">
                        <p>Forget your password? <a href="/forgot_password_page">click here.</a></p>
                    </div>
                    <div id="register_new_account_button">
                        <button class="button-register-new-pushable" role="button">
                            <span class="button-register-new-shadow"></span>
                            <span class="button-register-new-edge"></span>
                            <span class="button-register-new-front text">
                            Register New Account
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/registration_page.js') }}"></script>
    </body>
</html>