{% extends 'layout.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/css/shop_page.css') }}">
{% endblock %}

{% block content %}
    <div class="top_category_heading">
        <h1>BEDS</h1>
    </div>

    <div class="second_top_category_small_heading">

        <div class="heading_category">
            <h5 style="color: #141414;">BEDS</h5>
        </div>

        <div class="heading_category">
            <h5>HOME-DECOR</h5>
        </div>

        <div class="heading_category">
            <h5>DINING-SET</h5>
        </div>

        <div class="heading_category">
            <h5>SOFAS</h5>
        </div>
    </div>

    <div class="product_selection_box">
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Alton_Queen_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Alton Queen Bed</p>
                    <P class="price">$ 920</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Bravo_Aden_Queen_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Bravo Aden Queen Bed</p>
                    <P class="price">$ 920</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Bravo_Roxy_King_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Bravo Roxy King Bed</p>
                    <P class="price">$ 920</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Rubix_Sheesham_Wood_King_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Rubix Sheesham Wood King Bed</p>
                    <P class="price">$ 920</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Savanna_Queen_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Savanna Queen Bed</p>
                    <P class="price">$ 920</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Tiffany_Caramel_King_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Tiffany Caramel King Bed</p>
                    <P class="price">$ 920</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Reynan/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Reynan</p>
                    <P class="price">$ 920</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
    </div>

    <div id="form_journal_explain_area">
        <div id="main_line">
            <div id="main_line_h1">
                <h1>FROM THE JOURNAL</h1>
            </div>
            <div id="more_info_for_main_line">
                <h3>Discover the art of design and the thoughtfulness behind everyday essentials. 
                    Explore our approach to craftsmanship, where form meets function in perfect harmony.</h3>
            </div>
        </div>
        <div id="explore_more_button">
            <div id="button_link">
                <p><a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a></p>
            </div>
        </div>
    </div>

    <div id="form_img_info">
        <div id="rigth_img_area_journal">

        </div>
        <div id="rigth_info_area_journal">
            <div id="box_info_area">
                <div id="box_info_area_heading">
                    <h1 style="font-size: 50px;">The Evolution of Furniture Design</h1>
                </div>
                <div id="box_info_area_more_detail">
                    <p>The world of furniture has transformed over centuries.
                         What was once purely functional has now become a seamless blend of aesthetics and innovation.
                          From handcrafted wooden pieces to smart, ergonomic designs, this evolution reflects our desire for both comfort and style.</p>
                </div>
                <div id="box_info_area_button">
                    <a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="last_befor_footer_nav_links">
        <div class="product_card_bottom">
            <div class="product_card_bottom_img img1">

            </div>
            <div class="product_card_bottom_info">
                <div class="text_product_card_bottom_info">
                    <h5>Crafting the Future of Home Living</h5>
                </div>
                <div class="button_product_card_bottom_info">
                    <a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a>
                </div>
            </div>
        </div>

        <div class="product_card_bottom">
            <div class="product_card_bottom_img img2">
                
            </div>
            <div class="product_card_bottom_info">
                <div class="text_product_card_bottom_info">
                    <h5>From Tradition to Modernity</h5>
                </div> 
                <div class="button_product_card_bottom_info">
                    <a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a>
                </div>               
            </div>
        </div>

        <div class="product_card_bottom">
            <div class="product_card_bottom_img img3">
                
            </div>
            <div class="product_card_bottom_info">
                <div class="text_product_card_bottom_info">
                    <h5>Innovation Meets Comfort</h5>
                </div>
                <div class="button_product_card_bottom_info">
                    <a class="arrow_button_for_links">READ MORE <i class="fa-solid fa-arrow-up"></i></a>
                </div>                    
            </div>
        </div>
    </div>
{% endblock %}