{% extends 'layout.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/css/shop_page.css') }}">
{% endblock %}

{% block content %}
    <div class="top_category_heading">
        <h1>BEDS</h1>
    </div>

    <div class="second_top_category_small_heading">

        <div class="heading_category">
            <h5>ALL</h5>
        </div>

        <div class="heading_category">
            <h5 style="color: #141414;">BEDS</h5>
        </div>

        <div class="heading_category">
            <h5>HOME-DECOR</h5>
        </div>

        <div class="heading_category">
            <h5>DINING-SET</h5>
        </div>

        <div class="heading_category">
            <h5>SOFAS</h5>
        </div>
    </div>

    <div class="product_selection_box">
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Alton_Queen_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Alton Queen Bed</p>
                    <P class="price">$ 520</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Bravo_Aden_Queen_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Bravo Aden Queen Bed</p>
                    <P class="price">$ 920</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Bravo_Roxy_King_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Bravo Roxy King Bed</p>
                    <P class="price">$ 820</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Rubix_Sheesham_Wood_King_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Rubix Sheesham Wood King Bed</p>
                    <P class="price">$ 1020</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>

        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Savanna_Queen_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Savanna Queen Bed</p>
                    <P class="price">$ 540</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Tiffany_Caramel_King_Bed/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Tiffany Caramel King Bed</p>
                    <P class="price">$ 690</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
        <div class="product_card_box">
            <div class="img_product_card_box">
                <img src="{{ url_for('static', filename='img/Bedroom/Beds/Helios_Reynan/front.jpg') }}" alt="My Image">
            </div>
            <div class="text_product_card_box">
                <div class="text_area">
                    <h4>Bed</h4>
                    <p>Helios Reynan</p>
                    <P class="price">$ 780</P>
                </div>
                <div class="button_area">
                    <button class="shop_now_top_hero_left">
                        <div><span><p>SHOP NOW</p></span></div>
                        <div><span><p>SHOP NOW</p></span></div>
                    </button> 
                </div>
            </div>
        </div>
    </div>

{% endblock %}